{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "ignore"
}
